<!doctype html>
<html lang="en">
<head>
    <title>Testsite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content">
        {% if updone %}
        <h1>Download Summary</h1>
        <button class="btn customButton large">Download</button>
        <h1>Out: {{ out }}</h1>
        
        {% else %}
        <h1>Authenticate to Continue</h1>
        {% endif %}

        {% if output %}
        <h1>{{ out }}</h1>
        {% endif %}
    </div>
</body>
</html>